.menu {
  display: flex;
  justify-content: flex-start;
  z-index: 99;
  :deep(.menuTabs) {
    > .n-tabs-nav {
      background-color: $fristMenuBg;

      > .n-tabs-nav-scroll-wrapper > .v-x-scroll > .n-tabs-nav-scroll-content {
        > .n-tabs-pad {
          border: none !important;
        }
        > .n-tabs-wrapper > .n-tabs-tab-wrapper {
          > .n-tabs-tab {
            background: none;
            border: none;
            background-color: $fristMenuBg;
          }
          > .n-tabs-tab:hover {
            background: none;
            background-color: $fristMenuHover;
          }
          > .n-tabs-tab--active {
            background-color: $seconMenuBg !important;
          }
        }
      }
    }

    > .n-tab-pane {
      height: 98px;
      display: flex;
      background-color: $seconMenuBg;
      border: none;
      padding: 0;
      white-space: nowrap;
      box-shadow: 0px 2px 3px 0px $fristMenuBg;
    }
  }
  :deep(.n-scrollbar-rail__scrollbar) {
    bottom: -3px;
  }
}
